@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="text-center text-danger mt-5 centrado" >
        <h1 class="titulo">POZO</h1> 
        <hr> 
        <p class="eslogan">Not For Pussys</p>
    </div>
</body>

<a   href='@Url.Action("Configurar", "Home")' class="btn  centrado2"> <strong class="jugar centrado2">JUGAR</strong> </a>