@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="text-center text-danger mt-5 " >
        <h1>POZO</h1>
        <a href='@Url.Action("Configurar", "Home")' class="btn btn-secondary"> Jugar </a>
    </div>
</body>