@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="text-center text-danger centrado" >
        <h1 class="titulo">POZO</h1> 
        <hr> 
        <p class="eslogan">Not For Pussys</p>
        <a href='@Url.Action("Configurar", "Home")' class="btn botonJugar"> JUGAR </a>
    </div>
</body>