*{
  background-color: rgb(6, 102, 6);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: rgb(6, 102, 6);
  padding: 60px 100px 60px 100px;
}
