<<<<<<< HEAD
h1{
  font-family: Fuente;
  src: url(/wwwroot/Fuente.otf);
  font-weight: 100;
  font-size: 60px;
}

*{
  background-image: url("/sources/FondoPozo.jpg");
=======
*{
  background-color: rgb(6, 102, 6);
>>>>>>> f14342e4029724d8009404ce5165438e6c03ef97
}

html {
  font-size: 14px;
  
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
<<<<<<< HEAD
  margin-bottom: 60px;
}


=======
  background-color: rgb(6, 102, 6);
  padding: 60px 100px 60px 100px;
}
>>>>>>> f14342e4029724d8009404ce5165438e6c03ef97
